[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
response = "*"
pytest = "*"
pycodestyle = "*"
pytest-cov = "*"
pylint = "*"
invoke = "*"

[requires]
python_version = "3.9"
